.intro-banner {
    height: 50vh;
    background: url(/assets/bg13.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: -1;
}

.title {
    position: absolute;
    top: 200px;
    font-family: raleway;
    font-size: 62px;
    font-weight: 200;
    color: white;
}

.tag {
    position: absolute;
    top: 280px;
    color: white;
    font-family: raleway;
}

.skateboard-pic {
    background: url(/assets/skateboard.jpg);
    height: 50vh;
    width: 100vw;
}

.image-box {
    border-style: solid;
    border-width: 10px 0 0 0;
}

@media (max-width: 400px) {
    .title {
        font-size: 40px;
        top: 230px;
    }
}
