.title {
    position: absolute;
    top: 200px;
    font-family: raleway;
    font-size: 62px;
    font-weight: 200;
    color: white;
}

.tag {
    position: absolute;
    top: 280px;
    color: white;
    font-family: raleway;
}