{{ define "main" }}
{{ partial "header.html" .Params.header }}



<section class="sec1"><h1 class="page-title">J M Cross</h1></section>     


<section class="container">
  <h2>{{ .Params.section.heading}}</h2>
  {{ $sectionBodyMarkdown := .Params.section.body | markdownify }}
  {{ if not ( strings.Contains $sectionBodyMarkdown "<p>" ) }}<p>{{ $sectionBodyMarkdown }}</p>{{ else }}{{ $sectionBodyMarkdown }}{{ end }}</p>
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{{ end }}


