{{ define "main" }}
{{ partial "header.html" .Params.header }}
<div class="intro-banner">
    <h1 class="title">James Cross</h1>
    <p class="tag">web developer</p>
</div>

<div class="image-box">
    <img class="skateboard" src="/assets/skateboard.jpg" alt="">
    <p>I skateboard to work</p>
</div>

<div class="image-box">
    <p>I play football</p>
    <img class="skateboard" src="/assets/football.jpg" alt="">
</div>

<p style="background: black; color: white; font-size: 30px; text-align: center; font-family: raleway; padding: 40px">but most importantly...</p>

<div class="image-box">
    <img class="zuiki" src="/assets/zuiki.jpg" alt="">
    <p>I love my zuiki</p>
</div>

{{ end }}


